$page-header__bg-color: #283645;
$page-header__txt-color: #ffffff;

$main-nav__item-top-color: #485461;
$main-nav__item-bottom-color: #010101;
$main-nav__txt-color: $page-header__txt-color;

$demo__bg-color: #1d2631;
$demo__txt-color: $page-header__txt-color;

$advantages__bg-color: #ffffff;
$advantages__txt-color: #283645;
$advantages__wrapper-bg-color: #f2f2f2;

$reviews__bg-color: #ffffff;
$reviews__txt-color: #283645;
$reviews__toggle-color: #bec2c7;
$reviews__toggle-active-color: #283645;

$price__bg-color: #f2f2f2;
$price__tb-br-color: #e5e5e5;
$price__tb-bg-color: #ffffff;
$price__tb-txt-color: #283645;
$price__toggle-color: #bec2c7;
$price__toggle-active-color: #283645;

$contacts__txt-color: #283645;
$contacts__link-color: #d22856;

$map__bg-color: #eae6dd;


$tablet-widths: #{"min-width: 700px"};
$desktop-widths: #{"min-width: 1200px"};
