.btn-download {
  display: block;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 30px;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
}
