.demo {
  background-color: #1d2631;
  color: #ffffff;
}

.demo__img {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.demo__img img {
  display: block;
  margin: 0 auto;
  width: 320px;
}

.demo__app {
  min-height: 210px;
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: #1d2631;
  color: #fff;
}


.demo__text {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
