.page-header {
  background-color: $page-header__bg-color;
  color: $page-header__txt-color;

  border: 2px solid blue;
}

.page-header__wrapper {
  margin: 0 auto;

  border: 1px solid red;
}

.page-header__logo {

  border: 1px solid yellow;
}


@media ($desktop-widths) {

  .page-header__logo {
    float: left;
    width: 147px;
    height: 40px;
  }

}
